.item{
    border-radius: 10px;
    border: 1px solid gray;
    box-shadow: 0px 35px 60px 3px rgba(0, 0, 0, 0.3);
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    width: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: block;
  margin-right: 20px;
}
.img{
    width: 50px;
    padding: 5px;
    margin-right: 20px;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    border-radius: 10px;
    box-shadow: 0px 35px 60px 3px rgba(0, 0, 0, 0.3);
}
.text{
    margin-bottom: 0;
    font-weight: 800;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
}
.active {
  composes: status;
  background-color: green;
}
.disabled {
  composes: status;
  background-color: red;
}
