.statistics{
    border-radius: 10px;
    border: 1px solid gray;
    box-shadow: 0px 35px 60px 3px rgba(0, 0, 0, 0.3);
    background-color: white;
    margin-bottom: 20px;
    width: 300px;
    overflow: hidden;
    text-align: center;
}
.title {
    font-size: 20px;
    font-weight: 800;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    padding-top: 20px;
    color: gray;
}
.list {
    margin: 0px -1px -1px -1px;
    display: flex;
    justify-content: space-between;
    height: 55px;
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.4);
    width: 100%;
}